.logo
  display: flex
  align-items: center
  height: inherit
  margin-right: 90px
  transition: 0.4s ease all
  &:hover
    transform: scale(1.1)
  
  &__img
    display: inline-block
    transform: skew(-$skew)