<div class="prenews">
    <div class="container">
        <div class="prenews__slider wow bounceInRight">
            {loop: $latestnews.posts}
            <div class="prenews__item">
                {if: $value.param_img == 'yes' && $value.cover_photo}
                <div class="prenews__img"
                     style="background-image: url('{$value.cover_url}');">
                </div>
                {else}
                <div class="prenews__img -noFilter">
                    <i class="prenews__icon fa fa-newspaper-o"></i>
                </div>
                {/if}

                <div class="prenews__button">
                    <a class="button -white" href="{$value.url}">
                        <span class="button__skew">Zobacz więcej</span>
                    </a>
                </div>

                {if: $value.param_title == 'yes'}
                <div class="prenews__text">{$value.title}</div>
                {/if}

                {if: $value.param_author == 'yes'}
                <div class="prenews__text">{$value.author.username}</div>
                {/if}

                {if: $value.param_date == 'yes'}
                <div class="prenews__text">{$value.published_at}</div>
                {/if}

                {if: $value.param_text == 'yes'}
                <div class="prenews__text">{$value.content}</div>
                {/if}
            </div>
            {/loop}
        </div>
    </div>
</div>

