.title
  +font(size 30px)
  +fontBlackOps
  text-align: center
  text-transform: uppercase
  color: $black
  line-height: 1.1
  margin: 0
  
  &.-pages
    text-align: left
  
  &.-white
    +font(size 16px)
    color: $white
    +TAB_MIN
      +font(size 20px)
  
  &.-red
    +font(size 22px)
    color: $blue
    +TAB_MIN
      +font(size 34px)
    +PC_MIN
      +font(size 48px)
    
    
  
    
      
    