extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-main
  include ../components/about/about
  include ../components/prenews/prenews
  include ../components/contact/contact
  include ../components/map/map
