<div class="banner -pages">
    <div class="banner__item"
         style="background-image: url('{$bat.path}/themes/{$settings.theme}/dist/img/banner__item-2.jpg');">
        <div class="banner__canvas"></div>
        <div class="container fullWindow">
            <div class="banner__header -pages wow fadeInUp" data-wow-delay="0.6s">
                <div class="banner__titleBox">
                    <div class="banner__title">
                        <h1 class="title -white wow fadeInDown">DBST</h1>
                    </div>
                    <div class="banner__title">
                        <h1 class="title -red wow fadeInDown">
                            {if: $blog.title}
                            {$blog.title}
                            {elseif: $page.title}
                            {$page.title}
                            {/if}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner__scroll -pages">
        <a class="scroll wow bounceInUp" href="#content" data-wow-delay="0.9s">
            <div class="scroll__borderOut">
                <div class="scroll__borderIn">
                    <div class="scroll__arrow"><i class="fa fa-angle-down"></i></div>
                </div>
            </div>
        </a>
    </div>
</div>