<div class="contact" id="contact">
    <div class="container">
        <div class="contact__title">
            <h1 class="title wow fadeInDown">Kontakt</h1>
        </div>
        <div class="contact__content">
            <div class="contact__column">
                <div class="form wow zoomInLeft">
                    {if: $bat.notify}
                    <div class="notify -{$bat.notify.type}">{$bat.notify.text}</div>
                    {/if}
                    {$contact.form}
                </div>
            </div>
            <div class="contact__column">
                <div class="info">
                    <div class="info__box">
                        <a class="info__item wow zoomInRight" target="_blank" href="tel:{$link.telefon}" data-wow-delay="0.4s">
                            <i class="info__icon fa fa-phone"></i>
                            <div class="info__title">Telefon</div>
                            <div class="info__number">{$link.telefon}</div>
                        </a>
                        <a class="info__item wow zoomInRight" target="_blank" href="mailto:{$link.mail}" data-wow-delay="0.6s">
                            <i class="info__icon fa fa-envelope"></i>
                            <div class="info__title">Mail</div>
                            <div class="info__number">{$link.mail}</div>
                        </a>
                        <a class="info__item wow zoomInRight" target="_blank" href="{$link.facebook}" data-wow-delay="0.8s">
                            <i class="info__icon fa fa-facebook"></i>
                            <div class="info__title">Facebook</div>
                            <div class="info__number">{$link.facebook}</div>
                        </a>
                        <a class="info__item wow zoomInRight" target="_blank" href="{$link.youtube}" data-wow-delay="1s">
                            <i class="info__icon fa fa-youtube"></i>
                            <div class="info__title">Youtube</div>
                            <div class="info__number">{$link.youtube}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>