aside.aside
  - var asideTab = ['Ogólne informacje', 'Rozkład zajęć'];
  - asideTab.push('Cennik', 'Dodatkowe informacje');
  - asideTab.push('Ważne wydarzenia');
  .aside__nav
    - for(var i = 0; i < asideTab.length; i++)
      a(href='gallery.html').aside__link
        span.aside__skew #{asideTab[i]}