.form
  position: relative
  
  &__row
    display: flex
    justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
  
  &__input, &__textarea
    +font(size 14px)
    display: block
    width: 100%
    background-color: darken($grayLight, 10%)
    border: none
    color: $black
    margin-bottom: 20px
    padding: 15px 20px
    &.-invalid
      background-color: $blue
    &::placeholder
      +font(size 14px)
      color: $black
    &:focus
      outline: none
      background-color: darken($grayLight, 30%)
      
  &__input
    +TAB_MIN
      width: calc(50% - 10px)

  &__textarea
    +size(height 90px)
    resize: none
    overflow: auto