footer.footer
  .container
    .footer__flex
      .footer__item
        .footer__link ® Copyrights
          a(href='./')  nazwadomeny

      .footer__item
        .footer__link Projekt i realizacja
          a(href='http://appsmasters.eu' target='_blank')  appsmasters.eu