.blog
  +section-padding
  position: relative
  overflow: hidden
  
  &__pattern
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    &:before, &:after
      content: ''
      background-image: url('../img/blog__pattern.png')
      filter: grayscale(1)
      position: absolute
      left: 0
      width: 100%
      height: 100px
    &:before
      top: 5px
      transform: rotate(180deg)
    &:after
      bottom: 5px
  
  .container
    +clearfix
    position: relative
    z-index: 2
  
  &__main
    +TAB_MIN
      float: left
      width: 55%
    +PC_MIN
      width: 65%
      
  &__title
    margin-bottom: 40px
  
  &__aside
    +PHONE_ONLY
      padding-top: 20px
    +TAB_MIN
      float: left
      width: 45%
      padding-left: 60px
    +PC_MIN
      width: 35%
    