.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 101
  padding-top: 20px
  &:before
    content: ''
    background: transparentize($blue, 0.5)
    width: 100%
    height: 5px
    position: absolute
    top: 0
    left: 0
  
  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    width: 100%
    min-height: 50px
    +PC_MIN
      align-items: center
      justify-content: space-between