.nav
  position: relative
  display: flex
  z-index: 100
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $grayDark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHElEQVQYV2NkQAWSMC4jWRJw7QwMDM+RjSJNAgCMFgNS6xpg7wAAAABJRU5ErkJggg==)
    display: none
    z-index: 100
    box-shadow: inset 0 100px 180px transparentize($black, 0.18)
    +PC_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 50px
    height: 50px
    font-size: 24px
    position: fixed
    right: 20px
    top: 20px
    background-color: transparentize($black, 0.5)
    color: $white
    cursor: pointer
    +PC_MIN
      display: none
  
  &__list
    +clearfix
    text-align: center
    padding: 0
    margin: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
    +PC_MIN
      display: block !important
  
  &__item
    display: block
    position: relative
    +TAB_MAX
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    +PC_MIN
      float: left
      margin-left: 5px
  
  &__link
    display: block
    white-space: nowrap
    color: $white
    position: relative
    overflow: hidden
    text-transform: uppercase
    transform: skew(-$skew)
    transition: 0.3s ease all
    &:hover, &.-active
      text-decoration: none
      background: $blue
    +TAB_MAX
      padding: 17px 50px
      background-color: transparentize($black, 0.8)
      margin: 0 20px
    +PC_MIN
      padding: 10px 15px
      
  &__skew
    display: inline-block
    transform: skew($skew)