nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='index.html')
        span.nav__skew Home
    li.nav__item
      a.nav__link(href='about.html')
        span.nav__skew O nas
    li.nav__item
      a.nav__link(href='offer.html')
        span.nav__skew Aktualności
    li.nav__item
      a.nav__link(href='gallery.html')
        span.nav__skew Galeria
    li.nav__item
      a.nav__link(href='#contact')
        span.nav__skew Kontakt
