.banner
  position: relative
  z-index: 1
  overflow: hidden
  
  &.-main
    .container
      height: 550px
  &.-pages
    .container
      height: 330px
  
  &__item
    +section-bg
    box-shadow: inset 0 250px 250px transparentize($black, 0.10)
    position: relative
  
  &__canvas
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHklEQVQYV2NkYGCYyYAAZ2FMRrIk0pCMMkY2ijQJACzdBgRFgQcVAAAAAElFTkSuQmCC)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
  
  .container
    +flex-center
    position: relative
    z-index: 2
  
  &__header
    +flex-center
    flex-direction: column
    text-align: center
    width: 100%
    transition: 0.6s ease all
    transform-origin: bottom
    position: relative
    +TAB_MIN
      width: 75%
    &.-hide
      transform: translateY(50%) scale(0)
      opacity: 0
    &.-pages
      +PC_MIN
        margin-top: 70px
  
  &__titleBox
    text-transform: uppercase
    
  &__button
    position: absolute
    left: 50%
    bottom: -66px
    transform: translateX(-50%)
    width: 100%
    +PC_MIN
      bottom: -76px
  
  &__scroll
    position: absolute
    bottom: 20px
    left: 20px
    z-index: 2
    +PC_MIN
      transform: translateX(-50%)
      left: 50%
    &.-pages
      +PC_MIN
        display: none