.prenews
  +section-padding
  overflow: hidden
  background: $grayDark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHklEQVQYV2NkYGCYyYAAZ2FMRrIk0pCMMkY2ijQJACzdBgRFgQcVAAAAAElFTkSuQmCC)
    
  &__item
    text-align: center
    
  &__img
    display: inline-block
    width: 240px
    height: 170px
    filter: brightness(0.4)
    background: $grayDark center
    background-size: cover
    position: relative
    +PC_MIN
      width: 280px
    &.-noFilter
      filter: none
      
  &__icon
    +absolute-center
    +font(size 80px)
    color: $white
    
  &__button
    margin-top: -23px
    
  &__text
    color: $white
    margin-top: 10px