.prenews
  .container

    .prenews__slider.wow.bounceInRight
      .prenews__item
        - var boxStyle = 'background-image: url('+ imgDir +'prenews__img-1.jpg)';
        .prenews__img(style=boxStyle)

        .prenews__button
          include ../button/button-white

        .prenews__text
          +lorem(2)

      .prenews__item
        - var boxStyle = 'background-image: url('+ imgDir +'prenews__img-2.jpg)';
        .prenews__img(style=boxStyle)

        .prenews__button
          include ../button/button-white

      .prenews__item
        .prenews__img.-noFilter
          i.prenews__icon.fa.fa-newspaper-o

        .prenews__button
          include ../button/button-white