{loop: $navigation.list}
{if: !isset($value.children)}
    {if: $value.nav == '1'}
    <li class="nav__item">
        <a class="nav__link {if: $value.active}-active{/if}" href="{$value.url}">
            <span class="nav__skew">{$value.name}</span>
        </a>
    </li>
    {else}
    <a class="aside__link {if: $value.active}-active{/if}" href="{$value.url}">
        <span class="aside__skew">{$value.name}</span>
    </a>
    {/if}
{/if}
{/loop}