#map
  overflow: hidden
  
  &__canvas
    width: 100%
    height: 160px
    +PC_MIN
      height: 330px
  
  &__marker
    padding: 10px
    position: absolute
    transform: translate(-50%, -50%)
    transition: 0.2s ease all
    width: 100px
    &:hover
      text-decoration: none
      transform: translate(-50%, -50%) scale(1.1)
      
  &__icon
    +flex-center
    transform: skew(-$skew)
    transition: 0.5s ease all
    
  .gm-style-cc
    display: none