{include: themes/".$settings.theme."/inc/header.html}
{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog" id="content">
    <div class="blog__pattern"></div>
    <div class="container">
        <div class="blog__main wow bounceInLeft" data-wow-delay="0.6s">
            <div class="blog__title">
                <h1 class="title -pages wow fadeInDown">{$page.title}</h1>
                <p class="text-uppercase">{$page.desc}</p>
            </div>
            <div class="blog__content">
                <div class="article">
                    {$page.content}
                </div>
            </div>
        </div>

        {include: themes/".$settings.theme."/inc/aside.html}
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
