{include: themes/".$settings.theme."/inc/header.html}
{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog" id="content">
    <div class="blog__pattern"></div>
    <div class="container">
        <div class="blog__main wow bounceInLeft" data-wow-delay="0.6s">
            <div class="blog__title">
                <h1 class="title -pages wow fadeInDown">{$post.title}</h1>
                <p class="wow fadeInDown">{$post.published_at}</p>
            </div>
            <div class="blog__content">
                <div class="article">
                    {$post.content}
                </div>
            </div>

            {if: $post.comments == 1 && !empty($settings.blog.disqus)}
            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "{$post.url}";
                this.page.identifier = "{$post.id}";
              };
              (function () {
                var d = document, s = d.createElement('script');
                s.src = '//{$settings.blog.disqus}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <script id="dsq-count-scr" src="//{$settings.blog.disqus}.disqus.com/count.js" async></script>
            {/if}
        </div>

        {include: themes/".$settings.theme."/inc/aside.html}
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
