<script>
  var mapLat = {$googlemap.lat};
  var mapLng = {$googlemap.lng};
  var mapZoom = {$googlemap.zoom};
  var styles = {$googlemap.styles};

  window.onload = function() {
    map.init(mapLat, mapLng, mapZoom, styles);
  }
</script>

<div id="map">
    <div id="map__box">
        <div id="map__canvas"></div>
        <a href="https://www.google.pl/maps/dir/{$googlemap.lat},{$googlemap.lng}/@{$googlemap.lat},{$googlemap.lng},{$googlemap.zoom}z" target="_blank" id="map__marker">
            <div id="map__icon">
                <svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 348.96 289.507" xml:space="preserve" width="125px" height="105px">
                    <rect x="12.49" y="11.767" fill="#2E3192" width="264" height="264"/>
                    <g>
                        <path fill="#F7931E" d="M32.144,253.728v-28.873h18.575c5.3,0,9.374,1.238,12.225,3.715c2.85,2.477,4.275,5.991,4.275,10.544
                            c0,2.695-0.556,5.122-1.667,7.279c-1.11,2.159-2.677,3.856-4.698,5.095c-1.257,0.783-2.818,1.353-4.685,1.708
                            c-1.867,0.354-4.257,0.532-7.171,0.532H32.144z M38.864,248.292h8.687c4.625,0,7.903-0.72,9.834-2.158
                            c1.93-1.438,2.896-3.814,2.896-7.129c0-2.951-0.802-5.186-2.404-6.707c-1.603-1.521-3.97-2.281-7.103-2.281H38.864V248.292z"/>
                        <path fill="#F7931E" d="M79.538,253.728v-28.873h24.749c2.276,0,3.925,0.447,4.944,1.338c1.02,0.893,1.53,2.313,1.53,4.262v3.523
                            c0,1.385-0.429,2.49-1.284,3.319c-0.856,0.829-2.086,1.343-3.688,1.543c1.656,0.219,2.937,0.812,3.838,1.775
                            c0.901,0.966,1.352,2.223,1.352,3.771v3.688c0,1.912-0.701,3.332-2.104,4.262c-1.402,0.928-3.533,1.393-6.392,1.393H79.538z
                             M101.474,229.552H86.149v6.885h15.324c1.165,0,1.971-0.155,2.418-0.465c0.445-0.31,0.669-0.847,0.669-1.611v-2.731
                            c0-0.747-0.224-1.279-0.669-1.599C103.444,229.712,102.639,229.552,101.474,229.552z M101.474,241.189H86.149v7.348h15.324
                            c1.274,0,2.135-0.19,2.581-0.573s0.67-1.056,0.67-2.021v-2.186c0-0.965-0.224-1.634-0.67-2.008
                            C103.608,241.376,102.748,241.189,101.474,241.189z"/>
                        <path fill="#F7931E" d="M148.977,229.907h-18.903v6.201h18.002c2.822,0,4.729,0.482,5.723,1.448
                            c0.992,0.966,1.488,2.759,1.488,5.382v3.96c0,2.622-0.496,4.416-1.488,5.381c-0.993,0.966-2.9,1.448-5.723,1.448h-17.838
                            c-2.823,0-4.73-0.482-5.723-1.448c-0.993-0.965-1.489-2.759-1.489-5.381v-0.792l5.928-1.229v3.415h20.405v-6.584h-18.001
                            c-2.805,0-4.698-0.482-5.682-1.447s-1.476-2.759-1.476-5.382v-3.194c0-2.624,0.492-4.416,1.476-5.383
                            c0.983-0.965,2.877-1.447,5.682-1.447h16.39c2.714,0,4.585,0.465,5.613,1.393c1.029,0.929,1.544,2.577,1.544,4.944v0.601
                            l-5.928,1.395V229.907z"/>
                        <path fill="#F7931E" d="M182.658,230.017v23.711h-6.72v-23.711h-13.249v-5.162h33.271v5.162H182.658z"/>
                    </g>
                    <g>
                        <path fill="#F7931E" d="M199.23,249.3h0.506c0.246,0,0.418,0.07,0.52,0.212c0.101,0.142,0.15,0.412,0.15,0.813v2.27
                            c0,0.438-0.055,0.72-0.164,0.848c-0.109,0.129-0.446,0.191-1.012,0.191h-2.502c-0.246,0-0.419-0.073-0.52-0.219
                            c-0.101-0.145-0.15-0.419-0.15-0.82v-2.27c0-0.429,0.055-0.705,0.164-0.834c0.109-0.128,0.446-0.191,1.012-0.191H199.23z"/>
                        <path fill="#F7931E" d="M205.506,253.634v-11.84h10.664c0.984,0,1.693,0.18,2.126,0.541c0.433,0.359,0.649,0.944,0.649,1.756v2.625
                            c0,0.812-0.219,1.396-0.656,1.757s-1.144,0.54-2.119,0.54h-7.82v4.621H205.506z M214.939,243.831h-6.59v3.145h6.59
                            c0.501,0,0.846-0.072,1.032-0.219c0.187-0.146,0.28-0.392,0.28-0.738v-1.23c0-0.347-0.094-0.593-0.28-0.738
                            S215.44,243.831,214.939,243.831z"/>
                        <path fill="#F7931E" d="M223.088,253.634v-11.84H226v9.625h9.283v2.215H223.088z"/>
                    </g>
                    <g>
                        <path fill="#F7931E" d="M34.907,222.024c234.175-95.554,190.372-28.656,178.475-13.422c-6.021-0.262-22.52-1.309-60.674-5.495
                            c0,0,59.946,22.744,63.627,5.582c0,0-0.733,0.005-2.613-0.072C331.478,82.636,34.907,222.024,34.907,222.024z"/>
                        <path fill="#F7931E" d="M334.858,51.508c-15.469,16.629-94.714,97.579-79.466-6.474l29.725-32.071l-30.023,30.085
                            c-0.002,0.005,0,0.003-0.001,0.007c-0.003,0.002-0.003,0-0.008,0.005c0.029,0.69,0.059,1.364,0.077,1.781
                            c-2.592,10.242-11.868,51.085,2.57,59.589l-18.429,48.645l25.77-47.129C277.354,105.068,298.729,90.829,334.858,51.508z"/>
                        <path fill="#F7931E" d="M334.858,51.508c1.656-1.78,2.584-2.826,2.584-2.826C336.572,49.639,335.712,50.579,334.858,51.508z"/>
                        <ellipse transform="matrix(-0.1481 -0.989 0.989 -0.1481 254.9146 350.5949)" fill="#F7931E" cx="278.457" cy="65.507" rx="17.737" ry="12.809"/>
                    </g>
                </svg>
            </div>
        </a>
    </div>
</div>