body
  +fontBlackOps
  font-size: 16px
  line-height: 1.5
  color: $gray

*::selection
  background-color: $blue
  color: $white
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)

main
  background: $white
  margin-bottom: 100px
  +TAB_MIN
    margin-bottom: 70px
    
.container
  +container

img
  display: inline-block