.contact
  +section-padding
  +section-bg
  overflow: hidden
    
  &__title
    margin-bottom: 40px
    
  &__content
    display: flex
    justify-content: space-between
    +TAB_MAX
      flex-direction: column
    
  &__column
    +TAB_MAX
      &:last-child
        margin-top: 60px
    +PC_MIN
      width: calc(50% - 30px)