.contact#contact
  .container

    .contact__title
      include ../title/title-black

    .contact__content

      .contact__column
        include ../form/form

      .contact__column
        include ../info/info