.gallery
  margin-top: 40px
  
  &__slider
    +clearfix
  
  &__link
    float: left
    display: block
    position: relative
    overflow: hidden
    margin: 5px
    border-radius: 0
    height: 140px
    &:after
      +flex-center
      +font(size 40px family FontAwesome)
      content: '\f002'
      color: $white
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: transparentize($blue, 0.1)
      border-radius: inherit
      transform: translateY(100%)
      transition: 0.5s ease all
      opacity: 0
    &:hover
      &:after
        transform: translateY(0)
        opacity: 1
    +PHONE_ONLY
      width: calc(50% - 10px)
    +TAB_MIN
      width: calc(25% - 10px)
  
  &__thumb
    +section-bg
    display: block
    width: 100%
    height: 100%